/*
Livestream-Listener neokom.tv Event-Room #1
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https://neoweid70597.bitbucket.io/css/lawa.css
userdata-bbb_force_listen_only=true
userdata-bbb_show_participants_on_login=false
userdata-bbb_show_public_chat_on_login=false
userdata-bbb_skip_check_audio=true
userdata-bbb_skip_check_audio_on_first_join=true
######################################################*/

/*
######################################################
 OPTIONALE ANPASSUNGEN - BEI BEDARF VERÄNDERN!
######################################################*/

/* Hintergrundfarbe oder Hintergrundbild (1920x1080px, Hohe Auflösung notwendig)*/
body {
 background-image: url("https://neokom.tv/meeting/images/LAWA-Hintergrund.png");
 background-color: #9a4545;
 background-repeat: no-repeat;
 background-size: cover;
}
