/*
CSS-Master ampstream.io #1
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https://neoweid70597.bitbucket.io/css/master-amg.css
userdata-bbb_listen_only_mode=false
userdata-bbb_skip_check_audio=true
userdata-bbb_skip_check_audio_on_first_join=true
userdata-bbb_auto_join_audio=true
userdata-bbb_force_restore_presentation_on_new_events=true
userdata-bbb_auto_swap_layout=false
|userdata-bbb_display_branding_area=true
logo=https://neokom.tv/meeting/images/amg.png
######################################################*/

/*
######################################################
 OPTIONALE ANPASSUNGEN - BEI BEDARF VERAENDERN!
######################################################*/

.branding--Z1T4eH0 {
    background: #000000;
}

:root {
    --color-white: #FFF;
    --color-off-white: #F3F6F9;
    --color-black: #000000;
    --color-gray: #7e7e7e;
    --color-gray-dark: #5f5f5f;
    --color-gray-light: #8B9AA8;
    --color-gray-darkest: #3f3f3f;
    --color-gray-lighter: #9e9e9e;
    --color-gray-lightest: #ddddd;
    --color-blue-light: #54a1f3;
    --color-blue-lighter: #92BCEA;
    --color-blue-lightest: #E4ECF2;
    --color-primary: #e63943;
    --color-success: #ededed;
    --color-danger: #202020;
    --color-warning: #7b151a;
    --color-offline: var(--color-gray-light);
    --color-background: var(--color-gray-dark);
    --color-text: var(--color-gray);
    --color-heading: var(--color-gray-dark);
    --color-link: var(--color-primary);
    --color-link-hover: #2687ef;
    --color-gray-label: var(--color-gray);
    --color-transparent: #ff000000;
    --color-tip-bg: #333333;
    --color-white-with-transparency: #ffffff40;
    --loader-bg: var(--color-gray-dark);
    --loader-bullet: var(--color-white);
    --user-list-bg: var(--color-off-white);
    --unread-messages-bg: var(--color-danger);
    --user-list-text: var(--color-gray);
    --user-thumbnail-border: var(--color-gray-light);
    --user-thumbnail-text: var(--user-thumbnail-border);
    --voice-user-bg: var(--color-success);
    --voice-user-text: var(--color-white);
    --moderator-text: var(--color-white);
    --moderator-bg: var(--color-primary);
    --sub-name-color: var(--color-gray-light);
    --user-icons-color: var(--color-gray-light);
    --user-icons-color-hover: var(--color-gray);
    --list-item-bg-hover: #dce4ed;
    --item-focus-border: var(--color-blue-lighter);
    --user-indicator-voice-bg: #febbbe;
}

button[aria-describedby="vr-cam-btn-10"] {display: none}
button[aria-describedby="vr-cam-btn-1"] {display: none}
button[aria-describedby="vr-cam-btn-0"] {display: none}
button[aria-describedby="vr-cam-btn-3"] {display: none}
button[aria-describedby="vr-cam-btn-2"] {display: none}
button[aria-describedby="vr-cam-btn-5"] {display: none}
button[aria-describedby="vr-cam-btn-7"] {display: none}
button[aria-describedby="vr-cam-btn-6"] {display: none}
button[aria-describedby="vr-cam-btn-5"] + img.thumbnail--Vi9Nu  {display: none}
button[aria-describedby="vr-cam-btn-8"] + img.thumbnail--Vi9Nu  {display: none}