/*
CSS-Master neokom.tv Live-Event-Room Phytocademy
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https:neokom.tv/meeting/bbb/css/abbott.css
userdata-bbb_listen_only_mode=false
userdata-bbb_skip_check_audio=true
userdata-bbb_client_title=Phytocademy
userdata-bbb_skip_check_audio_on_first_join=true
userdata-bbb_auto_join_audio=true
userdata-bbb_force_restore_presentation_on_new_events=true
userdata-bbb_auto_swap_layout=false
userdata-bbb_display_branding_area=true
logo=https://phytocademy.ampstream.io/storage/files/sqQOXxX6gIZeQzSfmm22rOtcVUfM6A30gcuLFFKF.png
######################################################*/

/*
######################################################
 OPTIONALE ANPASSUNGEN - BEI BEDARF VERAENDERN!
######################################################*/


i.icon--2q1XXw.icon-bbb-video, i.icon--2q1XXw.icon-bbb-send,i.icon--2q1XXw.icon-bbb-plus,i.icon--2q1XXw.icon-bbb-audio_on, i.icon--2q1XXw.icon-bbb-unmute {
    color: black;
}
span.button--Z2dosza.lg--Q7ufB.primary--1IbqAO.circle--Z2c8umk {
    color: black;
}

:root {
    --color-white: #FFF;
    --color-off-white: #F3F6F9;
    --color-black: #000000;
    --color-gray: #4E5A66;
    --color-gray-dark: bblack;
    --color-gray-light: #8B9AA8;
    --color-gray-darkest: #111111;
    --color-gray-lighter: #a7b3bd;
    --color-gray-lightest: #d4d9df;
    --color-blue-light: #54a1f3;
    --color-blue-lighter: #92BCEA;
    --color-blue-lightest: #E4ECF2;
    --color-primary: #077e5b;
    --color-success: #077e5b;
    --color-danger: black;
    --color-warning: purple;
    --color-offline: var(--color-gray-light);
    --color-background: var(--color-gray-dark);
    --color-text: var(--color-gray);
    --color-heading: var(--color-gray-dark);
    --color-link: var(--color-primary);
    --color-link-hover: #2687ef;
    --color-gray-label: var(--color-gray);
    --color-transparent: #ff000000;
    --color-tip-bg: #333333;
    --color-white-with-transparency: #ffffff40;
    --loader-bg: var(--color-gray-dark);
    --loader-bullet: var(--color-white);
    --user-list-bg: var(--color-off-white);
    --unread-messages-bg: var(--color-danger);
    --user-list-text: var(--color-gray);
    --user-thumbnail-border: var(--color-gray-light);
    --user-thumbnail-text: var(--user-thumbnail-border);
    --voice-user-bg: var(--color-success);
    --voice-user-text: var(--color-white);
    --moderator-text: var(--color-white);
    --moderator-bg: var(--color-primary);
    --sub-name-color: var(--color-gray-light);
    --user-icons-color: var(--color-gray-light);
    --user-icons-color-hover: var(--color-gray);
    --list-item-bg-hover: #dce4ed;
    --item-focus-border: var(--color-blue-lighter);
}

/*Virtuelle Hintergruende teilweise verbergen*/
button[aria-describedby="vr-cam-btn-0"] {display: none}
button[aria-describedby="vr-cam-btn-1"] {display: none}
button[aria-describedby="vr-cam-btn-2"] {display: none}

