/*
Livestream-Listener neokom.tv Event-Room #5
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https://neokom.tv/meeting/bbb/css/r5-livelistener.css
userdata-bbb_force_listen_only=true
userdata-bbb_show_participants_on_login=false
userdata-bbb_show_public_chat_on_login=false
userdata-bbb_skip_check_audio=true
userdata-bbb_skip_check_audio_on_first_join=true
######################################################*/

/*
######################################################
 OPTIONALE ANPASSUNGEN - BEI BEDARF VERÄNDERN!
######################################################*/

/* Hintergrundfarbe oder Hintergrundbild (1920x1080px, Hohe Auflösung notwendig)*/
body {
 background-image: url("https://hemovision.ampstream.io/storage/files/9ve85tGEgEPCPu4p5uK43msO5ptK2LWi0ZvGyn2L.png");
 background-color: #FFFFFF;
 background-repeat: no-repeat;
 background-size: cover;
}
/* Obere und untere Sicherheitszone*/
header.navbar--Z2lHYbG {
    height: 60px!important;
}

.actionsbar--Z1mcyA0 {
    height: 30px!important;
}
/* Schriftgröße der Namen in der Webcam ändern*/
.info--1NTSXo {
    font-size:18px;
}

/* Farbe und Transparenz des Sprecher-Highlighting ändern (Ausblenden: opacity: 0*/
.content--Z1CkMQ.talking--26lGzY::after {
    opacity: 1 ;
}
:root {
    --color-primary: #208446;
}


/*######################################################
 EXPERIMENTELLE FUNKTIONEN! (teilweise deaktiviert)
######################################################*/

/* Webcam-Bilder ausblenden*/
.overlay--nP1TK.overlayToLeft--1n9e9S.react-draggable {
    dis play: none;
}

/* Spaltenanzahl der Webcams variieren
.videoList--1OC49P {
    grid-template-rows: repeat(3, 1fr)!important; 
   width: 100%!important;
   height: 100%!important; 
   grid-template-columns: repeat(3, 1fr)!important; 
}*/


video.media--qsqlj {
    background-color: transparent;
}

/* Umfrageergebnisse aus BBB in Stream anzeigen*/
g[aria-label^="Umfrageergebnis"] {
    display: none
} 

/*######################################################
 ZWINGEND NOTWENDIGE ANPASSUNGEN - NICHT VERÄNDERN!
######################################################*/

/* Nicht notwendige Steuerelemente in der Actionbar ausblenden*/
.left--Z1rLKlO {
    display: none;
}
.center--ZyfFaC {
    display: none;
}

.right--DUFDc {
    dis play: none;
}
/* Navigationsbar oben ausblenden*/
.navbar--Z2hKYyK {
    displ ay: none;
}

/* Icons in Präsentation ausblenden*/
i.icon--2q1XXw.icon-bbb-minus {
    color: transparent;
}
i.icon--2q1XXw.icon-bbb-fullscreen {
    dis play: none;

.wrapper--Z17x8k2.dark--Z1Y80Wt.bottom--Z1oNR9L {
    dis play: none;
    background-color: transparent!important;
    color: transparent;
}
/* Icons in Videos unsichtbar machen*/

i.voice--r5nn4.icon-bbb-listen {
    display: none;
}

.wrapper--Z17x8k2.dark--Z1Y80Wt.top--1p9eDv {
    disp lay: none;
    background-color: transparent!important;
    color: transparent;
    }

}

i[class^="muted"] {
    display: none
} 

.wrapper--Z17x8k2.dark--Z1Y80Wt.top--1p9eDv {
    background-color: transparent!important;
}

.wrapper--Z17x8k2.dark--Z1Y80Wt.bottom--Z1oNR9L {
    dis play: none;
}
/* Event-Messages ausblenden*/
.Toastify {
    display: none;
}

/* Buttons ausblenden (teilweise deaktiviert)*/
button[id^="tippy"] {
    dispay: none
}
button[id^="tippy-48"] {
    display: flex!important
    background-color: transparent
}
button[id^="tippy-48"] {
    display: flex!important
    background-color: transparent
}
button#tippy-43 {
    display: none;
}

i.icon--2q1XXw.icon-bbb-fullscreen {
    display: none;
}

button#tippy-128 {
    background-color: transparent!important;
    color: transparent;
}
.dark--Z1Y80Wt {
    background-color: transparent;
}

/* Overlays und weitere Elemente ausblenden (teilweise deaktiviert)*/
div[class^="toolbarContainer"] {
    display: none
}
div[class^="pollingContainer"] {
    display: none
} 


div[class^="presentationToolbar"] {
    display: none
} 

/* Präsentation minimieren und wiederherstellen*/
.primary--1IbqAO {
    color: transparent;
    background-color: transparent;
    border: none;
}
.primary--1IbqAO:focus {
    box-shadow: 0 0 0 0 transparent;
    color: transparent;
    background-color: transparent;
    border: none;
.primary--1IbqAO: focus, .buttonWrapper--x8uow:focus:not([
    aria-disabled="true"]) .primary--1IbqAO {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg);
    background-clip: padding-box;
    box-shadow: 0 0 0 var(--border-size) var(--btn-primary-border);
};
}
button:focus {
    background-color: transparent;
    color: transparent
}

span.button--Z2dosza.lg--Q7ufB.primary--1IbqAO.circle--Z2c8umk {
    background-color: transparent;
    box-shadow: transparent;
        box-shadow: 0 0 0 0;
    border-color: transparent;
}


i {
    color: transparent;
}




button#tippy-44 {
    border-color: transparent;
}

.btn--ZGSiQH span {
    box-shadow: none;
    background-color: transparent !important;
    border-color: transparent !important;
}

span.label--Z12LMR3.hideLabel--2vEtaU {
    display: none;
}

span.label--Z12LMR3.hideLabel--2vEtaU {
    display: none!important;
    color: red!important;
}

.tippy-popper {
    display: none!important;
}

/* Steuerelement: Video-Präsentationsverhältnis*/
span.resizeWrapper {
    position: absolute;
    user-select: none;
    width: 14px!important;
    height: 100%!important;
    top: 0px;
    right: -50px!important;
    padding-left: 50px; 
}

.overlayToLeft--1n9e9S span[class^=resizeWrapper] div, .overlayToRight--25uXPa span[class^=resizeWrapper] div {
    width: 75px !important;
    z-index: 1;
    bottom: -10px !important;
}
.overlayToLeft--1n9e9S span[class^=resizeWrapper] div:hover, .overlayToRight--25uXPa span[class^=resizeWrapper] div:hover {
    background-color: transparent;
}


/* Dropdown-Menü in den Webcams ausblenden*/
.dropdownTrigger--Z1Fp5dg::after {
display: none;
}

span.button--Z2dosza.lg--Q7ufB.default--Z19H5du.ghost--Z136aiN.circle--Z2c8umk {border-color: transparent!important;}

button#tippy-20 {border-color: transparent!important;}

i.emojiButtonIcon--1Fyg3U.icon-bbb-device_list_selector {display: none;}

.emojiButtonSpace--1h737p {border-color: transparent!important;display: none;}


button#tippy-166 {}

button#tippy-166 {color: transparent!important;background-color: transparent!Important;}


/* 2.6 Adaption (vorläufig)*/
section#ActionsBar {
    display: none;
}

header#Navbar {
    disp lay: none;
} 

[data-test="videoContainer"]
{background: transparent;}



[data-test="webcamFullscreenButton"]
{display: none;}



i.icon-bbb-unmute {display: none;}

[data-test="webcamItemTalkingUser"]
{color: red;}

    [data-test="webcamVideoItem"]
{display: block;}



div#WhiteboardOptionButton {
    display: none;
}


.sc-ibkupM.htObQb {
    display: none;
}

div#connectionBars {
    display: none;
}

.sc-bRcdvP.SFsYk {
    display: none;
}

span.sc-hGPBjI.kHPRtV {
    color: transparent;
}

i.sc-bdvvtL.goIptw.sc-eCFVrV.kYxorI.icon-bbb-right_arrow {
    color: transparent;
}
::after {
    display: none;
}
header#Navbar {
    background: transparent;
}

.sc-dZpvmy.kMIPhb {
    display: none;
}