/*
Presenter-Application for neokom.tv Event-Room #6
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https://neoweid70597.bitbucket.io/css/r6-speaker.css
userdata-bbb_force_listen_only=true
userdata-bbb_show_participants_on_login=false
userdata-bbb_show_public_chat_on_login=false
userdata-bbb_skip_check_audio=true
userdata-bbb_skip_check_audio_on_first_join=true
######################################################*/

body {
 background-image: url("https://neokom.tv/meeting/images/bg-presenter.png");
 background-color: #000000;
 background-repeat: no-repeat;
 background-size: cover;
}

.center--2pV1iJ {
    display: none;
}

.right--Z4dKWq {
    display: none;
}

.center--ZyfFaC {
    display: none;
}

.right--DUFDc {
    display: none;
}

.isTalkingWrapper--ZuCcDk {
    display: none;
}