/*
Translator-Room #1
######################################################
CUSTOM-PARAMETER:
userdata-bbb_custom_style_url=https://neoweid70597.bitbucket.io/css/rsi1.css
userdata-bbb_listen_only_mode=false
userdata-bbb_skip_check_audio=true
userdata-bbb_skip_check_audio_on_first_join=true
userdata-bbb_enable_screen_sharing=false
userdata-bbb_enable_video=false
######################################################*/

/*
######################################################
 OPTIONALE ANPASSUNGEN - BEI BEDARF VERAENDERN!
######################################################*/

/* Nicht notwendige Actionbars ausblenden*/
.right--DUFDc {
    display: none;
}


/* Recording-Indicator ausblenden*/
.recordingIndicator--Z1hMjfp {
    display: none;
}