/* ==UserStyle==
@name           Active-Webcam-2-with-slide
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("https://meeting.neokom.tv/html5client/join") {
    /* 2 Active Webcams with slide*/
}
.videoListItem--ZP5lQT:first-child {
    display: none;
}
.videoListItem--ZP5lQT {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.videoList--1OC49P {
    grid-template-rows: repeat(2, 1fr)!important;
    grid-template-columns: repeat(1, 1fr)!important;
    width: 100%;
    height: auto!important;
    max-height: 85%;
    display: grid;
}

.dropdown--Z10dYoc.dropdown--ZEHEeO {
    justify-content: center;
}

/* Webcam-Bilder einblenden*/
.overlay--nP1TK.overlayToLeft--1n9e9S.react-draggable {
    display: initial;
}
.videoCanvas--Z1giNVE {
    --cam-dropdown-width: 100%;
}