/* ==UserStyle==
@name           hide-own-webcam
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("https://meeting.neokom.tv/html5client/join") {
    /* Hide own Webcam*/
.videoListItem--ZP5lQT:first-child {
    display: none;
}
    }